
main{
    width: 100%;
    padding: 5rem 0rem;
}

section h1{
    grid-column: 1 / -1;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 2;
    border: .3rem solid black;
    margin-bottom: 1rem;
}


/* ---------------- RECOMMENDED SECTION ---------------- */
.recommended_section{
    width: 100%;
    min-height: 70vh;
    padding: 0 10%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content;
}

.product_box{
    display: grid;
}
.product_box__img{
    width: 90%;
}
.product_box__content{
    
}
.product_box__content__title{
    
}
.product_box__content__price{
    
}
.product_box__content__btn{
    
}
    




/* ---------------- BESTSELLERS SECTION ---------------- */

.latests_section, .bestsellers_section, .others_section{
    width: 100%;
    min-height: 70vh;
    padding: 0 10%;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: min-content;
}












/* ----------------  ---------------- */








.others_section{

}