
/* ---------------- RECOMMENDED SECTION ---------------- */
main{
    width: 100%;
    padding: 5rem 0rem;
}
.recommended_section{
    width: 100%;
    min-height: 70vh;
    padding: 0 10%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.product_box{
    
}
.product_box__img{
    width: 90%;
}
.product_box__content{
    
}
.product_box__content__title{
    
}
.product_box__content__price{
    
}
.product_box__content__btn{
    
}
    




/* ---------------- BESTSELLERS SECTION ---------------- */

.latests_section, .bestsellers_section{
    width: 100%;
    min-height: 70vh;
    padding: 0 10%;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
}












/* ----------------  ---------------- */